main{
    width: 50%;
    margin: 50px auto;
    text-align: center;
}

.header{
    padding: 80px;
    text-align:center;
    background: #ffa500;
    color: white;
}

.navbar {
    overflow: hidden;
    background-color: #333;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
  }
  
  /* Style the navigation bar links */
  .navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
  }
  
  
  /* Right-aligned link */
  .navbar a.right {
    float: right;
  }
  
  /* Change color on hover */
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Active/current link */
  .navbar a.active {
    background-color: #666;
    color: white;
  }

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
table {
    margin: 50px auto;
}

table, th, td{
    border-collapse: collapse;
    border: 1px solid #000;
}

th, td{
    padding: 5px;
}

.footer{
    clear: both;
    position: relative;
    height: 100px;
    margin-top: 160px;
    padding: 20px;
    text-align: center;
    background: #ddd;
}